<header>
  <div class="logo">PowerWeave</div>
  <div class="cart">Cart (<span class="cart-number">0</span>)</div>
</header>
<nav class="main-nav">
  <ul>
    <li class="has-sub">
      <a href="#">Menu1</a>
      <ul class="sub-menu">
        <li><a href="#">SubMenu1</a></li>
        <li><a href="#">SubMenu2</a></li>
        <li><a href="#">SubMenu3</a></li>
        <li><a href="#">SubMenu4</a></li>
      </ul>
    </li>
    <li><a href="#">Menu2</a></li>
    <li class="has-sub">
      <a href="#">Menu3</a>
      <ul class="sub-menu">
        <li><a href="#">SubMenu1</a></li>
        <li><a href="#">SubMenu2</a></li>
        <li><a href="#">SubMenu3</a></li>
        <li><a href="#">SubMenu4</a></li>
      </ul>
    </li>
    <li><a href="#">Menu4</a></li>
  </ul>
</nav>

<div class="container">
  <app-showcase
    (cartUpdate)="updateCartView($event)"
    (showcaseUpdated)="test()"
    [currentShow]="curDisplay"
  ></app-showcase>
  <app-related
    (cartUpdated)="addToCart('text')"
    (currentShowUpdated)="sendToShowcase()"
  ></app-related>
</div>
<footer class="footer">
  <div class="container">
    <div class="footer--colophon">
      <div class="footer--colophon--col">
        <h3>Comapany</h3>
        <div class="footer--colophon--col--sub">
          <div>
            <a href="#">About us</a>
            <a href="#">Our Team</a>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
          </div>
          <div>
            <a href="#">History</a>
            <a href="#">Contact us</a>
            <a href="#">Legal</a>
            <a href="#">Faq</a>
          </div>
        </div>
      </div>

      <div class="footer--colophon--col">
        <h3>Account</h3>
        <a href="#">My Dashboard</a>
        <a href="#">My Orders</a>
        <a href="#">Edit Profile</a>
        <a href="#">Change Password</a>
      </div>
      <div class="footer--colophon--col">
        <h3>Tools</h3>
        <a href="#">Sales Flyers</a>
        <a href="#">Create Catalog</a>
        <a href="#">Create Flyer</a>
        <a href="#">Virtual Sample</a>
      </div>
      <div class="footer--colophon--col">
        <h3>Newsletter</h3>
        <form class="form-dark">
          <input type="text" placeholder="Enter Email" />
          <button class="btn-fluid btn--primary btn--md">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer--credit">&copy; 2017 PowerWeave. Designed by Rohan</div>
</footer>
