.product-list {
  &--label {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    padding: 20px 0;
    border-bottom: 1px solid $color-grey-light1;
  }
  &--content {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: $bp-medium) {
      flex-wrap: wrap;
    }
  }
  &--item {
    text-align: center;
    border: solid $color-grey-light1;
    border-width: 0 1px;
    padding: 2vw;
    position: relative;
    img {
      max-width: 100%;
      height: auto;
    }
    .title {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.2rem;
    }
    .price {
      font-size: 1.8rem;
      color: $color-primary;
    }
    .overlay {
      background-color: rgba($color: #000000, $alpha: 0.4);
      position: absolute;
      inset: 0;
      padding: 50px;
      align-items: center;
      display: flex;
      opacity: 0;
    }
    &:hover {
      img {
        cursor: pointer;
      }
      .overlay {
        opacity: 1;
        transition: $transiton-time;
      }
    }
  }
  @media only screen and (min-width: $bp-medium) {
    &--item + &--item {
      border-left: none;
    }
  }
}
