$color-primary: #c70c2b; // Buttons and Highlighted texts
$color-grey-dark: #31353e; // Menu
$color-grey-dark1: #606060; // Footer text
$color-grey-light: #eaeaea; // Borders
$color-grey-light1: #d8d8d8; // Darker Borders
$color-grey-light2: #f5f5f5; // Thumb bg

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

$letter-spacing: 0.3rem; //some title
$transiton-time: 0.8s;
